# Project Files
.gitignore
.venv
.Venv
./ISCC.exe
./FileORZ_Install.exe
FileORZ_Install.exe
ISCC.exe
./Setup.iss
./.agents
.agents
__pycache__
pycache
build_ui
build
FileORZ-UI.spec
sync_env.bat
sync_env.ps1
FileORZ.spec
Vemv
dist
.dist
FileORZ
.venv12
tests
nuitka-crash-report.xml
FileORZ.zip
*.pem
private_key.pem
public_key.pem
utils/watchdo_file.py
key_base64.txt
ui/LiveReload.py
.idea
*.iss
*.exe
Setup.iss
.vscode
debug_app.py
.github
AdvancedAlg/Key_Words.json
Updates
